*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}
:root{
    --a:0;
}
body{
    color: white;
    background-color: black;
}
/* Set initial overflow to hidden
body {
    overflow: hidden;
    transition: overflow 1s ease;
  }
  
  /* Show scrollbar when hovered */
  /* body:hover {
    overflow: scroll;
    transition: overflow 2sec;
  } */
   

.left{
    width: 25vw;
    /* padding: 0px; */
}
.right{
    width: 75vw;
    max-height: 100vh;
    position: relative;
}

.home ul li{
    /* text-decoration: none; */
    list-style: none;
    width: 28px;
    gap:20px;
    padding-top: 20px;
    /* padding: 8px; */

}
.lib{
    min-height: 70vh;
    max-height: 70vh;
    position: relative;
    
}

/* .lib:hover{
    overflow-y: scroll;
} */
.footer{
    position: absolute;
    bottom: 0;
    padding-bottom: 10px;
}

.footer a{
    color: grey;
    text-decoration: none;
}
.playlist {
    display: flex;
    gap:28px;
    font-size: 20px;
    align-items: center;
}
.playlist img {
    width: 28px;
}
.top-playlist{
    justify-content: space-between;
    align-items: center;
}
.plus{
    width: 15px;
    cursor: pointer;
    border-radius: 500px;
    padding: 9px;
}
.plus:hover{
    background-color:rgb(25, 25, 25);
    
}
header{
    background-color: rgb(13, 13, 13);
    height: 4vh;
    padding: 24px;
    justify-content: space-between;
    align-items: center;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}

.Arrow{
    width: 35px;
    height: 35px;
    border-radius: 600px;
    background-color: black;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.buttons button{
 /* display: flex; */
 font-size: 16px;
 padding: 15px;
 margin: 7px;
 border: none;
}

.sign{
    
    background-color: rgb(13, 13, 13);
    color: grey;
    cursor: pointer;
    
}

.sign:hover{
    font-size: 1.1rem;
    color: white;
}

.log{
    width: 7vw;
 border-radius: 29px;
 /* padding:   0px 0px 0px 0px;   */
 cursor: pointer;
}

.log:hover{
    font-size: 1.1rem;
    /* color: white; */
}


.content{
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    height: 84vh;
    /* margin-bottom: 5px; */
    width: auto;
    /* scroll-behavior: smooth; */
    overflow: hidden;
    padding: 15px;
    /* position: relative; */
}

.content:hover{
    overflow: auto;
}
.containcards{
    margin-top: 25px;
    /* gap: 45px; */
    gap: 20px;
    flex-wrap: wrap;
   
}
.card{
    width: 160px;
    background-color: #212121;
    padding: 14px ;
    position: relative;
    cursor: pointer;
    transition: all 0.6s;
    
}

.card:hover{
    background-color: rgb(48, 48, 48); 
    --a:1;
}
.card img{
    width: 100%;
    object-fit: contain;
}

.card h4{
    margin-top: 8px;
    margin-bottom: 8px;
}

.card p{
    color: rgb(167, 167, 167);
    font-size: 16px;
    font-weight: 50;
}
.card button{
    border-radius: 100px;
    width: 50px;
    height: 50px;
    padding: 5px;
    border-style: none;
    background-color: rgb(31, 223, 100);
    position: absolute;
    top: 117px;
    right: 20px;  
    opacity: var(--a);
    transition: all 0.6s ease-in-out; 
    cursor: pointer; 
    padding-top: 8px;
    /* visibility: hidden; */
}

.card button img{
    width: 25px;
}

.playbar{
    position:sticky;
    height: 9vh;
    bottom: 0;
    width: 98.4%;
    overflow: hidden;
    /* border: 2px solid red; */
    padding: 12px;
    /* display: flex; */
    background-color:#212121;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.playbar Button{
    /* scale:none; */
    border: none;
    background-color: #212121;
    border-radius: 600px;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.playbar button img{
 width: 18px;
 padding-top: 3px;
  display: flex; 
 justify-content: center;
 align-items: center; 
}

.scroll{
    height: 400px;
    overflow: auto;
}
.scroll ul{
    padding: 30px;
}
.scroll ul li{
    list-style: none;
    /* list-style-type: decimal-leading-zero; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    padding: 12px 0px;
}

.playnow{
 width: 30px;
}

.bada{
    width: 200px;
    font-size: 16px;
}

.seekbar{
    height:3px;
    width: 100%;
    background-color:rgb(31, 223, 100);
    border-radius: 400px;
    cursor: pointer;
    padding: 1px;
}

.circle{
    position: absolute;
    top: 25px;
    left:0%;
    width: 18px;
    height: 18px;
    border-radius: 700px;
    background-color: rgb(31, 223, 100);
    cursor: pointer;
    transition: left 0.5s;
    z-index: 1;
}

.pley{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 99%;
}
.extra{
    min-width: 90px;
    color: #212121;
}
/* .pley .songbuttons{
 /* margin-right: auto;
 margin-left: auto; */
 /* position: sticky;
 scroll-behavior: smooth; */
/* } */

/* .songtime{
    /* min-width: 40px;
    max-width: 40px; */ 
/* } */ 

.seekbar{
    /* margin-top:10px; */
    margin-top: 5px;
}
.songinfo{
    /* margin-left: 0px; */
    margin: 5px;
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 13px;
}
.side{
    visibility: hidden;
    width: 0px;
    height: 0px;
    
}

.logo{
    display: flex;
    justify-content: space-between;
}
.cross{
    visibility: hidden;
    width: 0px;
    height: 0px;
}
.scroll {
    overflow: hidden;
    transition: overflow-y 0.3s ease;
  }
  
  .scroll:hover {
    
    overflow-y: scroll;
  }
  
  /* For WebKit browsers (Chrome, Safari) */
  .scroll:hover::-webkit-scrollbar {
    width: 12px; /* Set the width as needed */
  }
  
  .scroll:hover::-webkit-scrollbar-thumb {
    background-color:rgb(119, 119, 119); /* Set the color as needed */
  }
  
  .scroll:hover::-webkit-scrollbar-track {
    background-color: transparent;
  }

@media (max-width: 1440px) {
    .left{
        /* background-color: red */
        position: absolute;
        left: -200%;
        transition: all .5s;
        z-index: 10;
        width: 334px;
    }
    .containcards{
        min-height: 80vh;
        overflow-y: scroll;
    }
    .circle{
        top:29px;
    }
    .scroll{
        width: 306px;
        /* overflow: hidden; */
    }
      .scroll::-webkit-scrollbar {
        width: 12px; 
      }
    
      .scroll::-webkit-scrollbar-thumb {
        background-color: transparent;
      }
    
      .scroll::-webkit-scrollbar-track {
        background-color: transparent;
      }
    .right{
        width: 100vw;
        margin-right: 0px;
    }
    .card{
        width: 362px;
    }

    .playbar{
        width: 92vw;
        margin-left: 3px;
    }
    .Arrow{
        visibility: hidden;
    }
    .side{
        /* margin-top: px; */
        /* padding-top: 20px; */
        /* background-color: red; */
        background-color:rgb(13, 13, 13);
        border: none;
        visibility: visible;
        height: 35px;
        width: 40px;
    }
    .cross{
        visibility: visible;
        height: 25px;
        width: 25px;
    }
    .log{
        width: 22vw;
        height: 6vh;
    }
    .body{
        margin: 0;
    }
}