
.flex{
    display: flex;
}

.judtify{
    justify-content: center;
}

.align{
    align-items: center;
}

.bg-color{
    color: white;
    background-color: rgb(18, 18, 18);
}

.bg-black{
    background-color: black;
    color: white;
}

.rounded{
    border-radius: 7px;
}

.margin-1{
    margin: 5px;
}

.pad-1{
 padding: 22px;
}

/* Width */
::-webkit-scrollbar {
    width: 12px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #333;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #555;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #777;
  }
  
  .invert{
    filter: invert(1);
  }